#game {
  background: url('http://i.imgur.com/KJpfKXV.jpg');
  background-size: contain;
}

#game-container {
  padding-top: 5px;
  text-align: center;
}

body {
  font-family: arial;
  background: url('http://cuzimage.com/images/cool-background-textures-ha-textures-psp.jpg');
  /*color: white;*/
}

header {
  text-align: center;
  color: #f9f9f9;
}

h2, h3, h6 {
  margin: 0 0;
}

h2 {
  font-size: 36px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.player-info {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.input {
  padding: 15px;
  width: 250px;
  border-style: groove;
  border-radius: 4px;
}

.player-info p {
  margin-bottom: 0;
}

#color-input {
  margin-bottom: 30px;
}

#name-input {
  background-color: white;
}

#submit-info {
  color: black;
  text-decoration: none;
  border: 1px black solid;
  padding: 15px 107px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.instructions-title {
  font-size: 20px;
}

.socket-info {
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 20px;
  color: #f9f9f9;
}

.socket-info p {
  margin: 0 0;
}

.leader-board {
  position: absolute;
  width: 260px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  right: 20px;
  top: 70px;
  background-color: #f9f9f9;
}

.player-score {
  float: right;
}

.player {

}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.instructions {
  position: absolute;
  width: 260px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  left: 20px;
  top: 70px;
  background-color: #f9f9f9;
}

.instructions p {
  padding: 5px 0;
  margin: 0 0;
}

.player {
  border-bottom: 1px dotted black;
  padding-top: 10px;
}
